doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        include template/seo
        include template/styles
    body.hold-transition.sidebar-mini.accent-pink
        .wrapper
            include template/nav
            include template/aside
            .content-wrapper
                section.content-header
                    .container-fluid
                        .row.mb-2
                            .col-sm-6
                                h1 Catalogue of languages
                            |
                            .col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href=base_admin_path + 'dashboard') Home
                                    |
                                    li.breadcrumb-item.active Catalogue of languages
                section.content
                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-10
                                    h3.card-title List of languages
                                .col-12.col-md-2
                                    button.bg-pink.btn.btn-block#btn_new_element New

                        .card-body
                            table.table.table-bordered.table-striped.display.table-hover#datatable
                                thead
                                    tr
                                        th ID
                                        th name
                                        th lang_code
                                        th flag_uc
                                        th flag_img
                                        th Active
                                        th Date register
                                        th Date last update
                                        th Actions

                        .card-footer
                            | Create, Modify, or Delete

                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-10
                                    h3.card-title List of languages_elements
                                .col-12.col-md-2
                                    button.bg-pink.btn.btn-block#btn_new_element1 New

                        .card-body
                            table.table.table-bordered.table-striped.display.table-hover#datatable1
                                thead
                                    tr
                                        th ID
                                        th Language
                                        th Element Reference
                                        th Element text
                                        th Active
                                        th Date register
                                        th Date last update
                                        th Actions

                        .card-footer
                            | Create, Modify, or Delete


            include template/footer
            include template/control_bar

        include modals/catalogue_languages
        include template/params
        include template/scripts
        script.
            $(document).ready(function () {
                $('#menu_languages').addClass('active');
                $('#menu_catalogs').parent().addClass('menu-open');
            });
        script(src=core_files_path + 'js/common.js')
        script(src=core_files_path + 'js/catalogue_languages.js')

