#modal_new_edit.modal.fade( aria-hidden='true', data-backdrop="static", data-keyboard="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.bg-dark
                h4.modal-title New/Edit
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                br
                label Name
                input(type='text').form-control#in_name
                label Lang Code
                input(type='text').form-control#in_lang_code
                label Flag unicode
                input(type='text').form-control#in_flag_uc
                label Flag image
                input(type='file').form-control#in_flag_img
                input(type='text', style="display:none;").form-control#in_flag_img_save



            .modal-footer.justify-content-end
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.bg-pink(type='button')#save_changes Save

#modal_new_edit1.modal.fade( aria-hidden='true', data-backdrop="static", data-keyboard="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.bg-dark
                h4.modal-title New/Edit
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                br
                label Language
                select.form-control#in1_language
                    option(value=-1) Choose one...
                label Element reference
                input(type='text').form-control#in1_element_reference
                label Element text
                input(type='text').form-control#in1_element_text




            .modal-footer.justify-content-end
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.bg-pink(type='button')#save_changes1 Save
