footer.main-footer
    .float-right.d-none.d-sm-block
        b !{i18n.version}
        |  1.0.1
    |
    strong
        |  Copyright &copy; 2007-2020
        |   |
        a(href='https://leganux.net')  Leganux.net
        | .
        |  | Angel Erick Cruz Olivera
    |  | !{i18n.all_rights_reserved}