footer.main-footer
    .float-right.d-none.d-sm-block
        b Version
        |  1.0.1
    |
    strong
        |  Copyright &copy; 2007-2020
        |   |
        a(href='https://leganux.net')  Leganux.net
        | .
        |  | Angel Erick Cruz Olivera
    |  | All rights reserved.